html {
    box-sizing: border-box;
    font-size: 18px;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

html,
body,
#app {
    margin: 0;
    height: 100%;
    width: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}

.text-align-center {
    text-align: center;
}

.text-bg {
    font-size: 1.5rem;
}

#app {
    padding: 0.75em;
}

.row {
    display: flex;
    flex-direction: row;
}

.space-between {
    justify-content: space-between;
}

ul {
    list-style-type: none;
}

nav li {
    margin: 0 0.5em;
}

nav a {
    text-decoration: none;
}

.bold {
    font-weight: 900;
}
